/* styles.css */

body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.book-library {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.book {
    background-color: #ffffff;
   

